{% extends "main.html" %}

{% load webdesign %}
{% load bootstrap3 %}
{% block content %}
    <h2>Редактировать контакт</h2>


    <p>

    </p>
    <form class="form" action="/person/{{ current.executive_id }}/" method="post">

        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "save" %} Submit
            </button>

        {% endbuttons %}
    </form>




{% endblock %}

{% block properties %}
    <H2>Задачи на исполнителе:</H2>

    <table class="table table-striped table-hover table-bordered table-condensed">
        <tr>
            <td><b>Название задачи</b></td>
            <td><b>Длительность</b></td>
            <td><b>Редактировать</b></td>
        </tr>
        {% for task in tasks.all %}

            <tr>
                <td onclick='location.href="/task/{{ task.item_id }}/"'>{{ task.name }}</td>
                <td onclick='location.href="/task/{{ task.item_id }}/"'>{{ task.duration }}</td>
                <td>
                    <button class="btn btn-danger task-remover" id="{{ task.item_id }}">Снять задачу</button>
                </td>

            </tr>

        {% endfor %}
    </table>
    <div class="container">
        <H2>Добавить задачу</H2>

        <form class="form" action="/task/add/{{ current.executive_id }}/" method="post">

            {% csrf_token %}
            {% bootstrap_form task_form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">
                    {% bootstrap_icon "save" %} Add
                </button>

            {% endbuttons %}
        </form>
    </div>


    <script type="text/javascript">
        $(".task-remover").click(function () {
            $.ajax({
                type: "POST",
                url: "/assigmentedit/" + $(this).attr("id") + "/delete/",
                data: {"executive_id": {{ current.executive_id}}},
                success: function () {
                    location.reload();
                },
                dataType: "text"
            });
        });

    </script>



{% endblock %}